aiogram
sqlalchemy[asyncio]
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
asyncpg
attrs
beautifulsoup4
certifi
et_xmlfile
frozenlist
greenlet
idna
magic-filter
MarkupSafe
multidict
openpyxl
pdfkit
propcache
pydantic
pydantic-settings
pydantic-core
python-dotenv
pytz
soupsieve
structlog
typing_extensions
yarl